@mixin box-grid($width : 20%, $ratio: 1_1){
	position: relative;
	width: $width;
	float:left;

	&::before{
	 	content: "";
		display: block;
		@if $ratio == 2_1{
			padding-top: 50%;
		}
		@else if $ratio == 4_3{
			padding-top: 75%;
		}
		@else if $ratio == 1_2{
			padding-top: 200%;
		}
		@else if $ratio == 16_9{
			padding-top: 56.25%;
		}
		@else {
			padding-top: 100%;
		}
	}
}

%box-content{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
